@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col">
        <div id="board" style="width: 100%;"></div>
        <p>Status: <span id="status"></span></p>
        <p>Moves: <span id="pgn"></span></p>
    </div>
    <div class="col-3"></div>
</div>

@section Scripts {
    <script src="~/lib/@@aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/index.js"></script>
}
