@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Players online
            </div>
            <div id="playersOnline" class="card-body">
                @foreach (var player in Model.Players)
                {
                    <p id="@player.Name.Split('@')[0]">@player.Name</p>
                }
            </div>
        </div>
        <br />
        <button id="btnPlay" class="btn btn-primary">Play</button>
    </div>
    <div class="col">
        <div id="board" style="width: 500px;"></div>
        <p>Status: <span id="status"></span></p>
    </div>
    <div class="col">
        <div id="gamesOnline" class="card">
            <div class="card-header">
                Moves
            </div>
            <div class="card-body">
                <span id="pgn"></span>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/@@aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/index.js"></script>
    <script>
        var currentUser = '@HttpContext.User.Identity.Name.Split('@')[0]';
    </script>
}
